.about{
    display: flex;
    justify-content: space-between;
    padding: 60px 5rem;
    gap: 59px;
    width: 100%;
    background-color:rgba(254, 246, 228, 1);
}
.about-us .h2{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(53, 51, 66, 1);
    
    
}

.about-us-span .paragraph{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
}

.styleplus p{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-bottom: 10px;

}
.right{
    width: 100%;
}
.navlinkmore{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    text-align: left;
    color: rgba(254, 246, 228, 1);
    background: rgba(53, 51, 66, 1);
    padding: 10px 35px;
    border-radius: 18px;
   
}
.read-more{
   
    align-items: left;
}

/* animation */

.hero-container{
    height: 450px;
    position: relative;
    width: 90%;
    margin: auto;
    display: grid;
    place-items: center;
    overflow: hidden;
    /* padding: 10px 0; */
    
   
}
.hero{
    display: flex;
    width: calc(350px * 12);
    animation: scroll 40s linear infinite;
}
.hero:hover{
    animation-play-state: paused;
}
.slide{
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img{
    width: 100%;
    transition: 1s;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 6));

    }
}
img:hover{
    transform: translateZ(20px);
}
.hero-container::before, .hero-container::after{
    
    content: "";
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 2;
}
.hero-container::before{
    left: 0;
    top: 0;
}
.hero-container::after{
    right:0;
    top: 0;
    transform: rotateZ(180deg);
}
@media screen and (max-width:900px) {
    .about{
        padding: 0 2rem;
        display: block;
        
    }
    .about-us h2{
        padding: 30px;
        font-family: Plus Jakarta Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
    
        
    }
    .styleplus p{
        padding: 20px 0;
    }
    .about-us-span .paragraph{
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        
    }
   
    
}

@media screen and (max-width:480px){
 
    .left img{
        width: 100%;
    }
    .about{
        text-align: center;
        width: 100%;
        
        
    }
    .right > .about-us h2{
       
    }
    .about-us h2{
        font-family: Plus Jakarta Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;

    }
    .about-us-span p{
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: rgba(53, 51, 66, 1);



    }
    .styleplus p{
        font-family: Plus Jakarta Sans;
        
        font-family: Plus Jakarta Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
    }
    .read-more{
        font-family: Plus Jakarta Sans;
        font-size: 15px;
        font-weight: 500;
        line-height: 18.9px;
        text-align: left;

    }


    
}