.nav-bar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    width: 100%;
    top: 0;
    position: fixed;
    transition: 0.3s, ease-out;
    background-color: rgb(199, 199, 241);
    z-index: 999;
    height: 89px;
    overflow: hidden;
    left: 0;
    margin: auto;
    /* max-width: 1500px; */
    background: rgba(53, 51, 66, 1);
    
}
.nav-bar nav > div:nth-child(1){
    
}
.list-item{
    display: flex;
    /* margin: auto; */
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    /* color: aquamarine; */
    color: rgba(254, 246, 228, 1);
    color: (255, 216, 3, 1);
    

}
nav{
    position: relative;
}
.list-item li.active{
    color: blue;
}

.list-item ul > * li{
    padding-right: 6px;
   
}
/* .list-item ul > * li:hover{
    color: blue;
} */
.list-item ul{
    display: flex;
    /* justify-content: space-between; */
    gap: 28px;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.68px;
    text-align: center;

}
.list-item ul li{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;

}
.btn{
    padding-left: 18px;
}

.btn button {
    padding: 7px 20px;
    background: rgba(254, 246, 228, 1);
    border: transparent;
    border-radius: 10px;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.btnn button{
    display: none;
    padding: 8px 13px;
    border: transparent;
    border-radius: 10px;
}
.nav-bar nav > .logo-p a{
    color: rgba(255, 216, 3, 1);
    font-family: Just Another Hand;
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}
.logo{
    display: none;
}
.logo-flex{
    /* display: flex; */
}

@media screen and (max-width:900px){
    .logo{
        display: block;
    }
    .btnn button{
        display: block;
        font-family: Plus Jakarta Sans;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.64px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        background-color: rgba(254, 246, 228, 1);

    }
    .btnn.active{
        left: -100%
    }
    .list-item{
        left: -100%;
        /* left: -100%; */
        top: 79px;
        margin: auto;
        display: block;
        padding-top: 50px;
        position: fixed;
        /* flex-direction: column; */
        width: 100%;
        text-align: center;
        background: rgba(53, 51, 66, 1);

        height: 90vh;
        z-index: 999999;
        transition: .3s;
    }
    .icon{
        color: rgba(255, 216, 3, 1);


    }
    .list-item.active{
        left: 0;
        color: rgba(255, 255, 255, 1);
       

    }
    .list-item ul{
        display: block;
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 50px;
    }
    .list-item ul  li{
        
        padding: 30px 0;
    }
    .btn{
        padding-top: 30px;
        
    }
    .btn button{
        display: block;
        margin: auto;
        text-align: center;
    }

    .nav-bar nav{
        background: rgba(53, 51, 66, 1);
        padding: 0 2rem;
    }
   
    .nav-bar nav > .logo-p{
        font-family: Just Another Hand;
        font-size: 25.5px;
        font-weight: 400;
        line-height: 21.86px;
        text-align: left;
        

    }

    
}

